

<div id="menu">
    <h2>Introduction</h2>
    <ul>
        <li><a href="{{ site.url }}/index.html">Home</a></li>
        <li><a href="{{ site.url }}/about.html">About</a></li>
    </ul>
    <h2>Software Tutorials</h2>
    <ul>
        <li><a href="{{ site.url }}/obs.html">OBS Studio</a></li>
    </ul>
    <h2>Online Resources</h2>
    <ul>
        <li><a href="{{ site.url }}/textbooks.html">Textbooks</a></li>
        <li><a href="{{ site.url }}/coding.html">Coding resources</a></li>
    </ul>
</div>


