

<div id="menu">
    <h2>Online Resources</h2>
    <ul>
        <li><a href="{{ site.url }}/resources_education.html">Education</a></li>
        <li><a href="{{ site.url }}/resources_coding.html">Coding</a></li>
        <li><a href="{{ site.url }}/resources_miscellaneous.html">Miscellaneous</a></li>
    </ul>
    <h2>Software Tutorials</h2>
    <ul>
        <li><a href="{{ site.url }}/obs.html">OBS Studio</a></li>
    </ul>
    <h2>About</h2>
    <ul>
        <li><a href="{{ site.url }}/open_source.html">Why open source?</a></li>
        <li><a href="{{ site.url }}/about.html">About</a></li>
    </ul>
</div>


